.cardContainer{
    z-index: 1040;
    height: 70vh;
    background-color: rgb(254, 254, 254);
    width: auto;
    min-width: 40%;
    border-radius: 20px;
    padding: 3%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.formContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.cardHeader{
    justify-content: center;
    text-align: center;
    padding-bottom:20px;
}